<section class="banner-content">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="caption">
               <h1><span class="slider-title">{{section.settings.cta-header}}</span></h1>
               <p class="sub-title">{{section.settings.cta-content}}</p> 
               <a href="#" class="button read-btn">Read More</a>
               </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name":"Text Button CTA",
        "settings":[
            {
                "type":"text",
                "label":"Header",
                "id":"cta-header"
            },
            {
                "type": "richtext",
                "id": "cta-content",
                "label": "CTA Description"
            }
        ],
          "presets": [
    {
      "name": "Text Button CTA"
    }
  ]
    }
{% endschema %}