<section class="banner-content">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="caption">
               <h1><span class="slider-title">The best of the best</span></h1>
               <p class="sub-title">You can add supporting assets to your theme to control the presentation of components and features, or to store reusable pieces of code that can be used across components.</p> 
               <a href="#" class="button read-btn">Read More</a>
               </div>
            </div>
        </div>
    </div>
</section>