<div class="banner-content">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="caption">
               <h1><span class="slider-title">The best of the best</span></h1>
               <h2 class="sub-title">The winner of all choices.</h2> 
               <a href="#" class="button read-btn">Read More</a>
               </div>
            </div>
        </div>
    </div>
</div>