<section class="icon-text-grid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>Our Features</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="icon-text-content">
                    <ul>
                     {%for block in section.blocks %} 
                        <li>
                            <i class="fa {{ block.settings.icon-image }}"></i>
                            <h4>{{block.settings.icon-header}}</h4>
                            <p>{{block.settings.icon-text}}</p>
                        </li>

                    {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "blocks": [
            {
                "type": "text",
                "name": "Icon Text Block",
                "settings": [
                    {
                        "type": "text",
                        "id": "icon-image",
                        "label": "Give Fontawesome Class"
                    },
                    {
                        "type": "text",
                        "id": "icon-header",
                        "label": "Header"
                    },
                    {
                        "type": "textarea",
                        "id": "icon-text",
                        "label": "Description"
                    }
                ]
            }
        ]
    }
{% endschema %}

<script >
    $('.rating-slider').owlCarousel({
        loop: true,
        margin: 8,
        autoplay: true,
         autoplayTimeout: 5000,
        autoplaySpeed: 2000,
        nav: true,
        dots:false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>