<section class="icon-text-grid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>Our Features</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="icon-text-content">
                    <ul>
                        <li>
                            <i class="fa fa-bus"></i>
                            <h4>Free delivery</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right.</p>
                        </li>

                        <li>
                            <i class="fa fa-shopping-bag"></i>
                            <h4>Click & Order</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right.</p>
                        </li>

                        <li>
                            <i class="fa fa-shopping-basket"></i>
                            <h4>Wide products</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right.</p>
                        </li>

                        <li>
                            <i class="fa fa-rocket"></i>
                            <h4>fast & relaible</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script >
    $('.rating-slider').owlCarousel({
        loop: true,
        margin: 8,
        autoplay: true,
         autoplayTimeout: 5000,
        autoplaySpeed: 2000,
        nav: true,
        dots:false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>