<!--TOP CATEGORIES-->
<section class="multi-img-wrapper">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col-8">
                <div class="title-header">
                    <h2>Top categories&nbsp;&#47;&nbsp;<span>Find top products</span></h2>
                </div>
            </div>
            <div class="col-4">
                <div class="see-all">
                    <a href="#">
                        <button>See all</button>
                    </a>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col">
                <div class="multi-img-slider">
                    <div class="owl-carousel owl-theme multi-img-slider-content">
                    {%for block in section.blocks %} 
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{{ block.settings.multiple-img | img_url: 'master'}}" alt="pic">
                                    <span>
                                        <h3>{{block.settings.text-title}}</h3>
                                    </span>
                                </figure>
                            </a>
                        </div>
                    {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "blocks": [
            {
                "type": "image",
                "name": "Slider Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "multiple-img",
                        "label": "Pick an image"
                    },
                    {
                        "type": "text",
                        "id": "text-title",
                        "label": "Slider Img Title"
                    }
                ]
            }
        ]
    }
{% endschema %}

<script>
    $('.multi-img-slider-content').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 2000,
        stopOnHover: true,
        nav: true,
        dots:false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    })
</script>