<div class="section-content">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>this is test of SECTIONS with file name custom-cta.liquid</p>
                <button type="button" class="button">Link</button>
            </div>
        </div>
    </div>
</div>