<section class="review-block ">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col">
                <div class="title-header">
                    <h2>User Review</h2>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme review-slider">
                    <div class="item">
                        <div class="review-content">
                            <div class="author-detail">
                                <figure>
                                    <img src="{{ 'testimonial_1.jpg' | asset_url}}" alt="pic">
                                </figure>
                                <h2><span>Josh Dew</span></h2>
                                <p>Designer</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="review-message">
                                <p>Kalika wants to win and promote various infrastructure development projects through
                                    partnership with domestic and international stake holders.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="review-content">
                            <div class="author-detail">
                                <figure>
                                    <img src="{{ 'testimonial_2.jpg' | asset_url}}" alt="pic">
                                </figure>
                                <h2><span>Josh Dew</span></h2>
                                <p>Designer</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="review-message">
                                <p>Kalika wants to win and promote various infrastructure development projects through
                                    partnership with domestic and international stake holders.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="review-content">
                            <div class="author-detail">
                                <figure>
                                    <img src="{{ 'testimonial_3.jpg' | asset_url}}" alt="pic">

                                </figure>
                                <h2><span>Josh Dew</span></h2>
                                <p>Designer</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="review-message">
                                <p>Kalika wants to win and promote various infrastructure development projects through
                                    partnership with domestic and international stake holders.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="review-content">
                            <div class="author-detail">
                                <figure>
                                    <img src="{{ 'testimonial_4.jpg' | asset_url}}" alt="pic">

                                </figure>
                                <h2><span>Josh Dew</span></h2>
                                <p>Designer</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="review-message">
                                <p>Kalika wants to win and promote various infrastructure development projects through
                                    partnership with domestic and international stake holders.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.review-slider').owlCarousel({
        loop: true,
        margin: 8,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 2000,
        nav: true,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 2
            }
        }
    })
</script>