<section class="review-block ">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col">
                <div class="title-header">
                    <h2>User Review</h2>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme review-slider">
                 {%for block in section.blocks %} 
                    <div class="item">
                        <div class="review-content">
                            <div class="author-detail">
                                <figure>
                                    <img src="{{block.settings.user-img | img_url: 'master' }}" alt="pic">
                                </figure>
                                <h2><span>{{block.settings.user-name}}</span></h2>
                                <p>{{block.settings.user-position}}</p>
                            </div>
                            <div class="review-message">
                                <p>{{block.settings.user-review}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "blocks": [
            {
                "type": "image",
                "name": "Review Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "user-img",
                        "label": "Give Fontawesome Class"
                    },
                    {
                        "type": "text",
                        "id": "user-name",
                        "label": "Full Name"
                    },
                    {
                        "type": "text",
                        "id": "user-position",
                        "label": "Who are you?"
                    },
                    {
                        "type": "textarea",
                        "id": "user-review",
                        "label": "Full Review"
                    }
                ]
            }
        ]
    }
{% endschema %}

<script>
    $('.review-slider').owlCarousel({
        loop: true,
        margin: 8,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 2000,
        nav: true,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 2
            }
        }
    })
</script>