{% section 'home-slider-banner' %} 
{% section 'multiple-img-slider' %} 
{% section 'image-text-block' %} 
{% section 'banner-cta' %}
{% section 'text-cta' %} 
<p>this is coming from template file</p>