{% section 'home-slider-banner' %} 
{% section 'multiple-img-slider' %} 
{% section 'image-text-block' %} 
{% section 'banner-cta' %}
{% section 'slider-and-gallery' %}
{% section 'slider-and-gallery-inverted' %}
{% section 'rating-multi-img-slider' %}
{% section 'rating-multi-img-slider' %}
{% section 'icon-text-grid' %}
{% section 'user-review' %}
<p>this is coming from template page.homepage.liquid</p>